__pycache__/
dist/
build/
.pypirc
.conda/
ChEBI_complete.sdf
gff_k12.gff_k12
iML1515.json 
Substrates.txt
.gradio/
src/deeptransyt/models_mappings/
data/kegg_ids.txt
data/kegg_smiles.txt
data/k-12.npy
results/genome_test_embeddings.npy